.example-card {
  border: 1px solid cadetblue;
  margin: 2% 20%;
}
.imgContent
{
  display: flex;
  margin: 0 1%;
}
.cardimg{
  margin-right: 5%;
}
.cimg{
  max-width: 100px;
  height: 100%;
}
.btn{
  margin: 50% 0;
}
